* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-repeat: no-repeat;
}

h1 {
    font-size: 5.0em;
    color: gold;
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
}

p {
    color: gold;
    font-family: 'Satisfy', cursive;
    float: right;
    margin-right: 40px;
    font-size: 1.9em;
}

.w3-container {
    display: block;
    margin-top: 250px;
    text-align: center;
}



.top a {
    text-decoration: overline;
    text-decoration-color: gold;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 850px;
    
}

.bottom a {
    text-decoration: overline;
    text-decoration-color: gold;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 850px;
    margin-bottom: 10px;
}

.spacer {
    padding: 50px;
    content: "";
}